@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
body {
  box-sizing: border-box;
  margin: 0 4em;
}
